#include <windows.h>

#ifndef GHOSIUM_VERSION_MAJOR
#define GHOSIUM_VERSION_MAJOR 0
#endif
#ifndef GHOSIUM_VERSION_MINOR
#define GHOSIUM_VERSION_MINOR 0
#endif
#ifndef GHOSIUM_VERSION_PATCH
#define GHOSIUM_VERSION_PATCH 0
#endif

#define GHOSIUM_STR_INNER(x) #x
#define GHOSIUM_STR(x) GHOSIUM_STR_INNER(x)
#define GHOSIUM_VERSION_TEXT \
  GHOSIUM_STR(GHOSIUM_VERSION_MAJOR) "." \
  GHOSIUM_STR(GHOSIUM_VERSION_MINOR) "." \
  GHOSIUM_STR(GHOSIUM_VERSION_PATCH) ".0"

101 ICON "ghosium.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION GHOSIUM_VERSION_MAJOR,GHOSIUM_VERSION_MINOR,GHOSIUM_VERSION_PATCH,0
 PRODUCTVERSION GHOSIUM_VERSION_MAJOR,GHOSIUM_VERSION_MINOR,GHOSIUM_VERSION_PATCH,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Brendigo\0"
      VALUE "FileDescription", "Ghosium Browser\0"
      VALUE "FileVersion", GHOSIUM_VERSION_TEXT "\0"
      VALUE "InternalName", "Ghosium-Browser\0"
      VALUE "LegalCopyright", "Copyright (c) 2026 Brendigo\0"
      VALUE "OriginalFilename", "Ghosium-Browser.exe\0"
      VALUE "ProductName", "Ghosium Browser\0"
      VALUE "ProductVersion", GHOSIUM_VERSION_TEXT "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
